<footer class="footer">
  <div class="container ms-0 border-top">
    <nav class="nav">
      <ul class="nav nav-pills justify-content-between gap-0 w-100">
        <li class="nav-item"><%= link_to "About", about_path, class: "nav-link" %></li>
        <li class="nav-item"><%= link_to "Terms", "#", class: "nav-link disabled" %></li>
        <li class="nav-item"><%= link_to "Privacy", "#", class: "nav-link disabled" %></li>
        <li class="nav-item"><%= link_to "Contact", "#", class: "nav-link disabled" %></li>
        <li class="nav-item"><%= link_to "Help", "#", class: "nav-link disabled" %></li>
      </ul>
    </nav>
  </div>
</footer>